<section id="intro">
  <div class="section-content">
    <% if (theme.intro_title) { %>
    <h2><%= theme.intro_title %></h2>
    <% } %>
    <% if (theme.intro_copy) { %>
    <p><%- theme.intro_copy %></p>
    <% } %>
  </div>
</section>

<section id="work">
  <div class="section-content">
    <% if (theme.posts_title) { %>
    <h2><%= theme.posts_title %></h2>
    <% } %>
    <div class="gallery">
      <% page.posts.forEach(function(item, index){ %>
        <%- partial('_partial/article-index', {item: item, index: index}) %>
      <% }); %>
    <%- partial('_partial/pagination') %>
    </div>
  </div>
</section>

<section id="contact">
  <div class="section-content">
    <% if (theme.outro_title) { %>
    <h2><%= theme.outro_title %></h2>
    <% } %>
    <% if (theme.outro_copy) { %>
    <p><%= theme.outro_copy %></p>
    <% } %>
    <div class="centeredbutton-wrap">
      <a href="mailto:<%= theme.email_address %>"><button><%= theme.email_buttontext %></button></a>
    </div>
  </div>
</section>
