<!DOCTYPE html>
<html lang="en">
  <%- partial('_partial/head') %>
  <body>
    <div id="upper">
      <%- partial('_partial/header') %>
      <%- partial('_partial/hero') %>
    </div>
    <div id="main">
      <%- body %>
    </div>
    <%- partial('_partial/footer.ejs') %>
    <%- partial('_partial/body-end') %>
  </body>
</html>