<!DOCTYPE html>
<html lang="en">
  <%- partial('_partial/head') %>
  <body>
    <div id="wrapper">
      <%- partial('_partial/header') %>
      <%- partial('_partial/hero') %>
        <!-- Main -->
        <div id="main">
          <%- body %>
        </div>
        
      <%- partial('_partial/footer.ejs') %>
    </div>
    <%- partial('_partial/body-end') %>
  </body>
</html>