<%
  var cssClass = "style" + (index % 12 + 1);
%>

  <div class="gallery-item">
    <article class="<%- cssClass %>">
      <a href="<%- config.root %><%- item.path %>">
        <img class="img-responsive" src="<%- item.thumb || theme.default_image_thumb %>" alt="" />
        <h4><%- item.title || theme.default_post_title || "Untitled" %></h4>
      </a>
    </article>
  </div>