<section id="page">
  <div class="post-page">
    <div class="section-content">
      <div class="row">
        
      </div>
      <h2><%= page.title %></h2>
      <% if(item.image_post || theme.default_image_post) { %>
        <img class="img-responsive" src="<%- item.image_post || theme.default_image_post %>" alt="" />
      <% } %>
      
      <div class="section-meta">
        <% if (item.agency !== undefined) { %>
        <h3 class="label">Agency</h3>
        <a href="<%= item.agency_url%>"><%= item.agency %></a>
        <% } %>
        <h3 class="label">Links</h3>
        <% if (item.page_links !== undefined) { %>
          <% if (item.page_links.length > 0) { %>
            <% item.page_links.forEach(function(item, index){ %>
              <a href="<%= item.link_url %>"><button><%= item.link_text %></button></a>
            <% }); %>
          <% } %>
        <% } %>
        <% if (item.repo !== undefined) { %>
          <a href="<%= item.repo %>"><button>Github repo</button></a>
        <% } %>
        <% if (item.pkg !== undefined) { %>
          <a href="<%= item.pkg %>"><button>NPM package</button></a>
        <% } %>
        <h3 class="label">Tags</h3>
        <%- partial('article-tags') %>
      </div>

      <%- item.content %>
    
      <% if (item.photos && item.photos.length){ %>
        <h3 class="label">Gallery</h3>
        <%- partial('gallery') %>
      <% } %>

      <div class="centeredbutton-wrap">
        <a href="<%- config.root %>" title="Back to index"><button class="btn btn-clear">Back to index</button></a>
      </div>
    </div>
  </section>
  </div>

