<% if(page.prev || page.next) { %>
  <div class="pagination-container">
    <div class="pagination <%- page.prev ? "" : "disabled" %>"><a href="<%- config.root %><%- page.prev_link %>"><button>Previous page</button></a></div>
    <div class="pagination <%- page.next ? "" : "disabled" %>"><a href="<%- config.root %><%- page.next_link %>"><button>Next page</button></a></div>
  </div>
<% } %>